
header {
	top:0px;
	left:0px;
	width:100%;
	background-color:black;
	color:white;
	height:300px;
}
body
{
	display: flex;
	flex-direction: column;
	margin:0px;
	overflow-x:hidden;
}
footer[name="contact"]
{
	position:relative;
	top:-50px;
}
footer[name="actu"]
{
	position:relative;
	top:-85px;
}
#section1_dec
{
	 background-color:rgb(077,077,077);
	 left: 0%;
	 width: 100%;
	 top: 25%;
	 color: white;
	 font-size: 1.3em;
 }

#section2_actu{
	background-color: rgb(102,102,102);
	left: 0%;
	width: 100%;
	top: 220%;
	height: 100%;
}

#hdr_logo {
	padding-left:25%;
	width:50%;
}

.lang {
	position:absolute;
	top:3%;
	right:2%;
}

.lang a {
	color:white;
}
.menu {
}
.menu ul {
	z-index:5;
 	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
 	font-size:1.2em;
}
.menu li {
 	float:left;
 	margin:3%;
 	border-style:solid;
 	border-color:grey;
 	border-width:2px;
 	background-color:black;
}
.menu li a {
 	display:block;
 	width:300px;
 	color:white;
 	text-decoration:none;
 	margin-right:5%;
 	padding-left:-10px;
}
.menu li a:hover {
 	color:red;
}
.menu ul li ul {
 	display:none;
}
.menu ul li:hover ul {
 	display:block;
}
.menu li:hover ul li {
 	float:none;
}
.menu li ul {
 	position:absolute;
}


#intro
{
	background-color: rgb(010,032,045);
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}
 
#carrouselpcar{

	flex:1 1 auto;
	max-width: auto ; 
	max-height: 300px;

}
#lienspcar {
	display: flex;
	list-style-type:none;
	flex-direction: column;
	



	}
#partie1pcar li a {
	text-decoration:none;
	color:white;
}
#partie1pcar li a:hover {
	color:red;
}
#carrouseltpcar
{
	display:flex;
	align-items: center;
	font-family:myriad pro;
	color:white;
	margin-right:24%;
 	margin-left:24%;
 	text-align: justify;

}
#videopcar
{
	flex: 1 1 auto;
	max-width: auto ; 
	max-height: 400px;
	
}
#texte1pcar
{
	display:flex;
	align-items: center;
	font-family:myriad pro;
	color:white;
	margin-right:20%;
 	margin-left:20%;
 	text-align: justify;
}
#awardpcar
{
	
	flex: 1 1 auto;
	max-width: auto ; 
	max-height: 200px;
	}
#section1
{
	background-color: rgb(010,032,045);
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
#surfacepcar
{
	flex: 1 1 auto;
	max-width: auto ; 
	max-height: 280px;
}
#fmarinspcar
{
	flex: 1 1 auto;
	max-width: auto ; 
	max-height: 280px;
}
#imagen3
{
	flex: 1 1 auto;
	max-width: auto ; 
	max-height: 280px;
}
#zone1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	}
#zone2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	}
#zone3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	}