/*Contact-Adresse-Tel : 2eme bande*/
#div_contact
{
	background-color:rgb(077,077,077);
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#div_contact img
{
	width: auto;
	max-height: 5vh;
}

/*Formulaire : 3eme bande*/

#formulaire
{
	background-color: rgb(102,102,102);
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

#form input, select, textarea
{
	width: 114%;
}

#form input, select{
	padding-top: 3%;
	padding-bottom: 3%;
}

#formulaire p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}