header {
	background-color:black;
	color:white;
	display: flex;
	flex-direction: column;
}

#container_logo_header{
	display: flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:center;
}

#hdr_logo {	
	width:50vw;
	height: auto;
}

body
{
	margin:0px;
	overflow-x:hidden;
}

.menu ul {
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	z-index:5;
 	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
 	font-size:1.2em;
}
.menu li {
 	margin:3%;
 	border-style:solid;
 	border-color:grey;
 	border-width:2px;
 	background-color:black;
}
.menu li a {
 	display:block;
 	width:300px;
 	color:white;
 	text-decoration:none;
 	margin-right:5%;
 	padding-left:-10px;
}
.menu li a:hover {
 	color:red;
}
.menu ul li ul {
 	display:none;
}
.menu ul li:hover ul {
 	display:block;
}
.menu li:hover ul li {
 	float:none;
}
.menu li ul {
 	position:absolute;
}
.lang {
	display: flex;
	justify-content: flex-end;
}
.lang a {
	color:white;
	padding: 0.5%;
}

#footer{
	display: flex;
	flex-direction: column;
}

#logo_footer{
	width:20vw;
	height: auto;
}

#nav_footer {
	display: flex;
	flex-wrap: wrap;
	background-color:rgb(128,128,128);
	justify-content:flex-start;
}
#nav_footer ul {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type:none;
 	font-size: 1.1em;
 	margin-right: -20%;
 	max-width: 60vw;
}

#nav_footer ul li ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#nav_footer ul li ul li {
	margin-bottom: 3%;
}
#nav_footer ul li a {
	text-decoration:none;
	color:black;
}
#nav_footer ul li a:hover {
	color:red;
}

#footer2 {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	background-color:rgb(179,179,179);
}

.stranger {
	margin-top: -5%;
}

.stranger_img {
	width: 40%;
	height: auto;
}

.contact{
	width: 30%;
	height: auto;
}
#plan{
	width: 40%;
	height: auto;
	margin-bottom: 5%;
}
.footer_hor{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.social_media{
	width: 80%;
	height: auto;
}

.column_footer {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	justify-content:space-around;
	font-size: 1.1em;
}
.column_footer p {
	font-size: 1.1em;
	font-style: bold;
}
#footer3 {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-left: 2%;
	margin-right: 2%;
}
.info_footer {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
.info_footer {
	list-style-type:none;
 	text-decoration:none;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
}
.info_footer a {
	text-decoration:none;
	color:black;
	font-size: 1.5em;
}

.info_footer a:hover {
	color:red;
}
.partnership {
	flex:1 1 auto;
}