/*Header*/
header {
	background-color:black;
	color:white;
	display: flex;
	flex-direction: column;
}

#container_logo_header{
	display: flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:center;
}

#hdr_logo {	
	width:50vw;
	height: auto;
}

body
{
	margin:0px;
	overflow-x:hidden;
}

.menu ul {
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	z-index:5;
 	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
 	font-size:1.2em;
}
.menu li {
 	margin:3%;
 	border-style:solid;
 	border-color:grey;
 	border-width:2px;
 	background-color:black;
}
.menu li a {
 	display:block;
 	width:300px;
 	color:white;
 	text-decoration:none;
 	margin-right:5%;
 	padding-left:-10px;
}
.menu li a:hover {
 	color:red;
}
.menu ul li ul {
 	display:none;
}
.menu ul li:hover ul {
 	display:block;
}
.menu li:hover ul li {
 	float:none;
}
.menu li ul {
 	position:absolute;
}
.lang {
	display: flex;
	justify-content: flex-end;
}
.lang a {
	color:white;
	padding: 0.5%;
}
/*Fin Header*/

/*Footer*/
#footer{
	display: flex;
	flex-direction: column;
}

#logo_footer{
	width:20vw;
	height: auto;
}

#nav_footer {
	display: flex;
	flex-wrap: wrap;
	background-color:rgb(128,128,128);
	justify-content:flex-start;
}
#nav_footer ul {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type:none;
 	font-size: 1.1em;
 	margin-right: -20%;
 	max-width: 60vw;
}

#nav_footer ul li ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#nav_footer ul li ul li {
	margin-bottom: 3%;
}
#nav_footer ul li a {
	text-decoration:none;
	color:black;
}
#nav_footer ul li a:hover {
	color:red;
}

#footer2 {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	background-color:rgb(179,179,179);
}

.stranger {
	margin-top: -5%;
}

.stranger_img {
	width: 40%;
	height: auto;
}

.contact{
	width: 30%;
	height: auto;
}
#plan{
	width: 40%;
	height: auto;
	margin-bottom: 5%;
}
.footer_hor{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.social_media{
	width: 80%;
	height: auto;
}

.column_footer {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	justify-content:space-around;
	font-size: 1.1em;
}
.column_footer p {
	font-size: 1.1em;
	font-style: bold;
}
#footer3 {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-left: 2%;
	margin-right: 2%;
}
.info_footer {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	list-style-type:none;
 	text-decoration:none;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
}
.info_footer a {
	text-decoration:none;
	color:black;
	font-size: 1.4em;
}
.info_footer a:hover {
	color:red;
}
/*Fin Footer*/

/*Page index*/

	/*Partie presentation*/
#section1_dec {
	display:flex;
	flex-direction:column;
	align-content:center;
	background:rgb(77,77,77);
	flex-wrap:wrap;
	padding-top: 4%;
	padding-bottom: 4%;
}
.article_index_dec_reverse {
	display:flex;
	flex-direction:row-reverse;
	align-items: center;
	justify-content: space-around;
	margin-left: 10%;
	margin-right: 10%;
}
.article_index_dec {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-around;
	margin-left: 15%;
	margin-right: 15%;
}

#arbre_heron, #index_carrousel, #elephant
{
	max-width:100%;
	height: auto;
	z-index:1;
	margin-top:12%;
}
#icon_arbre_heron, #icon_carrousel, #icon_elephant
{
	width:25%;
	height: auto;
	z-index:2;
	margin-top:-30%;
	margin-right: -8%;
	margin-left: -8%;
}

.txt_article {
	color:white;
	font-size:1.6em;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
}
	/*Fin Partie presentation*/

	/*Partie actualites index*/
#section2_actu {
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	background-color:rgb(102,102,102);
	padding-bottom: 5%;
}
#logo_actu
{
	width:60%;
	height: auto;
	margin-right: -10%;
	margin-left: -20%;
	margin-top: -10%;
	margin-bottom: -10%;
}
.logos_actu_index {
	display:flex;
	justify-content: flex-start;
}
#img_index_actu{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#container_ban_actu_index{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.article_actu
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
	margin-right: 25px;
	margin-left: 25px;
}
#banner_actu
{
	width: 50%;
	height: auto;
	z-index: 1;
}
.img_actu {
	max-height: 35vh;
	width: auto;
}
.article_actu h4
{
	padding: 5%;
	font-size: 1.5em;
	text-align: center;
}
#titre_actu{
	color: black;
	font-size: 2em;
	text-decoration: none;
	z-index: 2;
	margin-top: -25%;
}

	/*Fin Partie actualites index*/
/*Fin Page index*/