header {
	top:0px;
	left:0px;
	width:100%;
	background-color:black;
	color:white;
	height:300px;
}
body
{
	margin:0px;
	overflow-x:hidden;
}
footer[name="contact"]
{
	position:relative;
	top:-50px;
}
footer[name="actu"]
{
	position:relative;
	top:-85px;
}
#section1_dec
{
	 background-color:rgb(077,077,077);
	 left: 0%;
	 width: 100%;
	 top: 25%;
	 color: white;
	 font-size: 1.3em;
 }

#section2_actu{
	background-color: rgb(102,102,102);
	left: 0%;
	width: 100%;
	top: 220%;
	height: 100%;
}

#hdr_logo {
	padding-left:25%;
	width:50%;
}

.lang {
	position:absolute;
	top:3%;
	right:2%;
}

.lang a {
	color:white;
}
.menu {
}
.menu ul {
	z-index:5;
 	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
 	font-size:1.2em;
}
.menu li {
 	float:left;
 	margin:3%;
 	border-style:solid;
 	border-color:grey;
 	border-width:2px;
 	background-color:black;
}
.menu li a {
 	display:block;
 	width:300px;
 	color:white;
 	text-decoration:none;
 	margin-right:5%;
 	padding-left:-10px;
}
.menu li a:hover {
 	color:red;
}
.menu ul li ul {
 	display:none;
}
.menu ul li:hover ul {
 	display:block;
}
.menu li:hover ul li {
 	float:none;
}
.menu li ul {
 	position:absolute;
}
#icon_arbre_heron, #icon_carrousel
{
	position:absolute;
	width:12%;
	z-index:2;
	left: 5%;
}

#arbre_heron, #index_carrousel
{
	position:relative;
	width:40%;
	z-index:1;
	left:9%;
	margin-top:8%;
}

.txt_article_right
{
	float: right;
	margin-left:55%;
	margin-right:10%;
	font-size: 1.3em;
	margin-top: -16%;
}

#icon_elephant
{
	position:absolute;
	width:12%;
	z-index:2;
	right: 42%;
	margin-top: 1%;
}

#elephant
{
	position:relative;
	width:40%;
	z-index:1;
	left: 50%;
	margin-top: 8%;
}

.txt_article_left
{
	float: left;
	margin-right:55%;
	margin-left:12%;
	font-size: 1.3em;
	margin-top: -15%;
}

#logo_footer {
	width:18%;
	height:30%;
	display:inline;
	float:left;
}

#nav_footer {
	width:100%;
	float:left;
	background-color:rgb(128,128,128);
}
#nav_footer ul {
	list-style-type:none;
 	text-align:left;
 	font-size: 1.1em;
}
#nav_footer ul li ul {
	display:inline-block;
	float:left;
	margin-top:7%;
 	margin-right:5%;
 	margin-bottom:20px;
}
#nav_footer ul li a {
	text-decoration:none;
	color:black;
}
#nav_footer ul li a:hover {
	color:red;
}
.contact {
	width:40%;
	height:40%;
}
#contact_us {
	position:relative;
	font-size:1.2em;
	float:left;
}

.partnership {
	width:15%;
	height:15%;
	float:left;
	margin-right:2%;
	margin-left:3%;
	margin-bottom:10%;
}
#official {
	position:relative;
	left:9%;
	float:left;
	bottom:10px;
}
#asso{
	position:relative;
	left:43%;
	top:10px;
}
.info_footer {
	text-decoration:none;
	list-style-type:none;
	font-size:1.5em;
	color:black;
}
#carrousel
{
	position:absolute;
	width:40%;
	z-index:1;
	left:500px;
	top: 200px;
}
#lienspcar
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	top:62%;
	left:42%;
}
#partie1pcar ul {
	list-style-type:none;
	text-align:center;
}
#partie1pcar li a {
	text-decoration:none;
	color:white;
}
#partie1pcar li a:hover {
	color:red;
}

#carrouselpcar
{
	position:relative;
	width:13%;
	height:25%;
	top:-165px;
	left:41%;
}
#carrouseltpcar
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	color:white;
	top:80%;
	margin-right:20%;
 	margin-left:5%;
}
#videopcar
{
	position:absolute;
	top:93%;
	left:13%;
}
#awardpcar
{
	position:absolute;
	z-index:2;
	width:30%;
	height:30%;
	top:85%;
	left:-7%;
}
#texte1pcar
{
	position:absolute;
	z-index:2;
	top:180%;
	left:15%;
	font-family:myriad pro;
	text-align: justify;
	margin-right:15%;
	color:white;
}
#surfacepcar
{
	position:absolute;
	width:30%;
	height:30%;
	top:200%;
	left:10%;
}
#niveau1
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	margin-right:20%;
	color:white;
	top:203%;
	left:45%;
}
#fmarinspcar
{
	position:absolute;
	width:30%;
	height:30%;
	top:230%;
	left:50%;
	font-size:2em;
}
#niveau2
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	margin-right:54%;
	color:white;
	top:235%;
	left:10%;
}
#imagen3
{
	position:absolute;
	width:30%;
	height:30%;
	top:260%;
	left:10%;
}

#niveau3
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	margin-right:20%;
	top:265%;
	left:45%;
	color:white;
}
#croquispcar
{
	position:relative;
	width: 50%;
	z-index:1;
	top:0%;
	left:0%;
}

#tbannierepcar
{
	position:absolute;
	z-index:2;
	top:305%;
	left:65%;
	font-family:myriad pro;

}
#histoire
{
	position:absolute;
	z-index:2;
	top:320%;
	left:45%;
	font-family:myriad pro;
	margin-right:10%;
	text-align: justify;

}
#auteurs
{
	position:absolute;
	z-index:2;
	top:350%;
	left:80%;
	font-family:myriad pro;
}
#architectes
{
	position:absolute;
	z-index:2;
	top:360%;
	left:65%;
	font-family:myriad pro;
}
#tarchitectes
{
	position:absolute;
	z-index:2;
	top:373%;
	left:45%;
	font-family:myriad pro;
	margin-right:10%;
	text-align: justify;
}
#partie1pcar
{
	background-color: rgb(010,032,045);
	width:100%;
	left:0px;
	height:2450px;
}

#logo_actu
{
	position: absolute;
	width: 60%;
	margin-top: -8%;
	margin-left: -15%;
}
#banner_actu
{
	position: absolute;
	width: 60%;
	margin-top: -5%;
	margin-left: 30%;
	z-index: 1;
}

#titre_actu
{
	position:relative;
	left:50%;
	top:160px;
	color: black;
	font-size: 2.5em;
	text-decoration: none;
	z-index: 2;
}

.article_actu h4
{

	background-color: white;
	padding: 5%;
	width: 60%;
	margin-left: 15%;
	margin-right: 0%;
	font-size: 1.5em;
}
.article_actu
{
	margin-top:70%;

}

.img_actu
{
	width: 70%;
	margin-top:-7%;
}

#div_contact
{
	background-color:rgb(077,077,077);
	width:100%;
	color:white;
	text-align:center;
	position:relative;
	top:-33px;
}

#div_contact h1
{
	margin:2%;
}

#div_contact img
{
	width:12%;
}

#formulaire
{
	background-color: rgb(102,102,102);
	width:100%;
	color:white;
	position:relative;
	top:-50px;
}

#form
{
	margin: 1%;
	margin-left: 42.5%;
}

#form input, select
{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	width: 30%;
	height: 30px;
}

#form textarea
{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	width: 30%;
}

#formulaire p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

#section_pactu
{
	background-color:rgb(077,077,077);
	position:relative;
	width:100%;
	top:-85px;
}

#section_pactu h1
{
	text-align: center;
	margin: 5%;
	font-size: 3em;
	color: white;
}

#section_pactu h3
{
	background-color: white;
	padding:6%;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	width: 53%;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.05em;
	margin-left: 17.5%;
	float: center;
}

#section_pactu img
{
	width: 65%;
	margin-top: -5%;
}

#footer2 {
	width:100%;
	height:300px;
}
#footer3 {
	width:100%;
}
.column_footer {
	display:inline-block;
	float:left;
	text-align:center;
	padding-left:3%;
	padding-right:2%;
	width:20%;
	height:80%;
	background-color:rgb(179,179,179);
	font-size: 1.1em;
}
.column_footer p
{
	font-size: 1.1em;
	font-style: bold;
	margin-top: -5%;
}


/*
#colonne_actu
{
	display: flex;
	flex-direction: row wrap;
	margin-left: 5%;
}

#colonne_actu section article
{
	flex-direction: column wrap;
	display: flex;
} */

.article_pactu
{

}
